{% extends "base.html" %}

{% block content %}
   <h2>About me</h2>
   <hr>

   <p>Hi, my name is Filip, and i live in Rijeka, Croatia. I'm an electrical engineer with a new found passion for web development. I'm a big open source enthusiast and advocate. I also enjoy strenght training and fiddling with my guitar. Let me tell you a short version of how I dipped my toe into the sea of web development and eventually become wet.</p>
   <p> The revelation came to me one day just like the meme cat got the idea to buy a boat - I should learn Python! Months went by and my Python skills were improving at a slow pace due to influences of hellbound sites like reddit and 9gag :). Along the way I stumbled upon the cool Flask web microframework. A decision to actually write some code rather than just reading about it developed my Python/Flask skills immensely. After finishing a small web project for a family member I needed a new challenge. So, I decided to write a blog. Truth be told, a blog isn't the most inovative thing to code, but hey - it's a start!
   </p>

{% endblock content %}
