{% extends "base.html" %}

{% block content %}
<h2>Hire</h2>
   <hr>

   <p>I am currently available for hire as a web backend python developer. Fell free to contact me at <a href="mailto:#">fojurov@gmail.com</a> if you are interested or have any questions.</p> 

	
	<h3>Why should you hire me?</h3>
  <ul>
  	<li>because of my passion towards technologies that interest me</li>
  	<li>I tend to use simple, quick and effective methods when it comes to problem solving</li>
  	<li>I am a positive, open minded and well adjusted individual</li>
  	<li>I would be grateful for the opportunity to learn and grow</li>
  </ul>

   	
   	<h3>My skills include:</h3>
   	<ul>
   		<li>python</li>
   		<li>flask</li>
   		<li>html</li>
   		<li>css</li>
   	</ul>
   
   

   <p>I'm looking forward to hearing from you!
</p>
{% endblock content %}
