{% extends "base.html" %}

{% block content %}
   
<!--<div class="page-header">
  <h1>Hi, my name is Filip<br> <small>aspiring web developer / powerlifter wannabe / tolerable guitar player</small></h1>
</div>
-->
<h1>Hi, my name is Filip!</h1>

<p>The main purpose of this blog is my shameless selfpromotion coupled with an attempt to fight my procrastination urges while being unemployed. The main toping topics covered here will be web development and maybe some powerlifting. I know it's a strange combo, but bear with me.
</p>
 <h2>Blog posts</h2>
 <br>
 
    {% with pages=pages  %}
        {% include "_list.html" %}
    {% endwith %}
{% endblock content %}
